.top, .center, .bottom {
    height : 150px;
}

.top {
    background-color : WHITE;
    width : 150px;
}

.center {
    background-color : blue;
    width : 300px;
    float : left;
}

.bottom {
    background : pink;
    width: 300px;
    float : left;
}
