.profile{
  float:left;
}

.string{
  font-size: 12px;
}
.ggg{
  float:right;
}
.bookmark{
  float:right;
}
.rightwhole{
  width : 400px;
}
.story{
  width : 300px;

}
.img{
  float:left;
}
